<div *ngIf="loading" style="height: 300px" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="productDetail({},-1)">Tambah Menu</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
                <th>N0</th>
                <th>KATEGORI</th>
                <th>NAMA</th>
                <th>HARGA</th>
                <th></th>
                <th align="right"></th>
            </thead>
            <tbody>
                <tr *ngFor="let menu of menus; let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{menu.kategori}}</td>
                    <td>{{menu.nama}}</td>
                    <td>{{menu.harga}}</td>
                    <td>{{menu.image}}</td>
                    <td align="right">
                        <button mat-button color="primary"  (click)="productDetail(menu, idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteProduct(menu.id, idx)"[disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Deleting..':'Delete'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
