<h3 mat-dialog-title>
    Detail Produk
</h3>
<div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>KATEGORI</mat-label>
        <input matInput [(ngModel)]="data.kategori">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>NAMA</mat-label>
        <input matInput [(ngModel)]="data.nama">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>HARGA</mat-label>
        <input matInput type="number" [(ngModel)]="data.harga">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
<button mat-button mat-dialog-close>Batal</button>
<button mat-flat-button (click)="saveData()" [disabled]="loading">{{loading ? 'Menyimpan..':'Simpan'}}</button>
</div>